In [1]:
## Importing the libraries 
import pandas as pd
import numpy as np
import scipy as sp
import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import GridSearchCV

In [2]:
cropRec = pd.read_csv('../Crop_Yield.csv')

In [3]:
cropRec.head()

,label,state,Cost of cultivation (`/Hectare) C2,yield (Quintal/ Hectare)
0,rice,Andhra Pradesh,53108.28,58.63
1,rice,Assam,37430.31,32.82
2,rice,Bihar,29791.17,27.49
3,rice,Chhattisgarh,35159.57,31.88
4,rice,Gujarat,43128.46,43.17

In [4]:
from sklearn.preprocessing import LabelEncoder
label_object = {}
categorical_columns = ['label','state']
for col in categorical_columns:
    labelencoder = LabelEncoder()
    labelencoder.fit(cropRec[col])
    cropRec[col] = labelencoder.fit_transform(cropRec[col])
    label_object[col] = labelencoder

In [5]:
cropRec.isnull().sum()

label                                 0
state                                 0
Cost of cultivation (`/Hectare) C2    0
yield (Quintal/ Hectare)              0
dtype: int64

In [6]:
cropRec

,label,state,Cost of cultivation (`/Hectare) C2,yield (Quintal/ Hectare)
0,15,0,53108.28,58.63
1,15,1,37430.31,32.82
2,15,2,29791.17,27.49
3,15,3,35159.57,31.88
4,15,4,43128.46,43.17
...,...,...,...,...
137,12,1,106360.31,109.07
138,12,2,62315.66,195.87
139,12,6,85159.89,111.64
140,12,16,71310.86,186.01
141,12,18,113603.08,244.92

In [7]:
###Choosing the Dependent and Independent variables
# Independent Variables
x=cropRec.iloc[:,[0,1,3]]
x

     label  state  yield (Quintal/ Hectare)
0       15      0                     58.63
1       15      1                     32.82
2       15      2                     27.49
3       15      3                     31.88
4       15      4                     43.17
..     ...    ...                       ...
137     12      1                    109.07
138     12      2                    195.87
139     12      6                    111.64
140     12     16                    186.01
141     12     18                    244.92

[142 rows x 3 columns]

In [8]:
# Dependent Variable(target column)
y=cropRec.iloc[:,2]
y

0       53108.28
1       37430.31
2       29791.17
3       35159.57
4       43128.46
         ...
137    106360.31
138     62315.66
139     85159.89
140     71310.86
141    113603.08
Name: Cost of cultivation (`/Hectare) C2, Length: 142, dtype: float64

In [9]:
## TRAIN TEST SPLIT

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [10]:
def hyperParameterTuning(x_train, y_train):
    param_tuning = {
        'learning_rate': [0.01, 0.1],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.8],
        'n_estimators' : [100, 200, 500],
        'objective': ['reg:squarederror']
    }

    xgb_model = xgb.XGBRegressor()

    gsearch = GridSearchCV(estimator = xgb_model,
                           param_grid = param_tuning,                        
                           #scoring = 'neg_mean_absolute_error', #MAE
                           #scoring = 'neg_mean_squared_error',  #MSE
                           cv = 5,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(x_train,y_train)

    return gsearch.best_params_

In [11]:
##hyperParameterTuning(x_train, y_train)

In [12]:
xgb_model = xgb.XGBRegressor(n_estimators=1000, max_depth=3, subsample=0.8, colsample_bytree=1,learning_rate=0.1,min_child_weight=1,objective='reg:squarederror')
xgb_model.fit(x_train, y_train)
print('Accuracy : {}'.format(xgb_model.score(x_test,y_test)))

Accuracy : 0.8225440253170438

In [13]:
X=[label_object['label'].transform(np.array(['rice']))[0],label_object['state'].transform(np.array(['Assam']))[0],32.82]
xgb_model.predict(np.array([X]))

array([37506.84], dtype=float32)

In [14]:
#Saving our model into a file
import pickle
pickle.dump(xgb_model,open('cost.pkl','wb'))